# Dependencies
**/node_modules/

# Production builds
**/dist/
**/dist-ssr/


# Databases & local logs
**/*.db
**/*.db-journal
**/*.log
**/npm-debug.log*

# Static uploads
**/uploads/

# OS specific files
.DS_Store
Thumbs.db
